/* * media query */

@media(max-width:768px) {
    .container {
        width: 100%;
    }
    header .container nav ul {
        display: none;
        width: 100%;
    }
    header .container .social {
        display: none;
    }
    /* becuse i make the justify space between i no need to add query to th nav to make the element et the end */
    header .container nav {
        justify-content: end;
    }
    header .container nav .nav-tog {
        display: flex;
    }
    header .container nav ul li a {
        border-bottom: 1px solid #e7e3e3cc;
        margin-bottom: 5px;
    }
    .hero {
        height: 100vh;
        margin-bottom: 300px;
    }
    .hero .container {
        /* to put the img up */
        flex-direction: column-reverse;
        text-align: center;
    }
    .hero .container .hero-img img {
        width: 400px;
    }
    .hero .container .hero-title {
        font-size: 35px;
        font-weight: 600;
    }
    .hero .container .hero-info h2 {
        font-size: 26px;
    }
    .hero .container .hero-info p {
        font-size: 16px;
        width: 100%;
        line-height: 1.8;
    }
    .hero .container .social {
        justify-content: center;
        /* we can write dispaly none if we dont wont it to appear at this media*/
    }
    .hero .container .hero-info .call {
        justify-content: center;
    }
    .about-us .container {
        flex-direction: column;
        text-align: center;
    }
    .about-us .about-info,
    .about-us .about-img {
        width: 100%;
    }
    .about-us .about-call {
        margin-bottom: 30px;
    }
    .about-us .about-info p {
        width: 100%;
        line-height: 1.8;
    }
    .about-img img:hover {
        transform: translate(-5px, -5px);
    }
    .our-skills .container {
        flex-direction: column-reverse;
    }
    .skills-info,
    .skills-img {
        width: 100%;
    }
    .skills-img img {
        margin-bottom: 20px;
    }
    footer .container {
        padding-right: 60px;
    }
    footer .container .section {
        padding-right: 20px;
        margin-bottom: 30px;
    }
    footer .container .section h2 {
        margin-bottom: 20px;
    }
    footer .container .section p {
        font-size: 20px;
    }
    footer .container .section a {
        font-size: 20px;
    }
}


/* to the bars */

@media(min-width:768px) {
    header .container nav .nav-tog {
        display: none;
    }
}


/* medium */

@media(min-width:768px) and (max-width:991px) {
    .container {
        width: 750px;
    }
}


/* small Breakpoint*/


/* larg */

@media(min-width:992px) and (max-width:1199px) {
    .container {
        width: 970px;
    }
}


/* extra larg */

@media(min-width:1200px) {
    .container {
        width: 1170px;
    }
}


/* ---------------------------------------- */